@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #f7f8fa;
  color: #0f172a;
  font-family: var(--font-inter);
}

::selection {
  background: #38bdf8;
  color: white;
}
